Customer Support.json
{
  "name": "Customer Support",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        -80
      ],
      "id": "be748689-6dfc-43ec-ac6e-0e27e6c20e57",
      "name": "File Store",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CxGlyoLdc5tB6IOO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1IG7xo8ZZyIkttGw8Y8unm-98QQn_2kvz",
          "mode": "list",
          "cachedResultName": "Microprocessor",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1IG7xo8ZZyIkttGw8Y8unm-98QQn_2kvz"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -48
      ],
      "id": "c6870468-3c80-4693-84ae-57fd4b40d849",
      "name": "Knowledge Base",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CxGlyoLdc5tB6IOO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-database",
          "mode": "list",
          "cachedResultName": "new-database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        224,
        -96
      ],
      "id": "950d6695-985f-4e78-be1a-daf3229f8037",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "utAIU4Sd2WiG5icS",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        112
      ],
      "id": "84a540ee-ff12-4977-b412-d6dfe93e010d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        160
      ],
      "id": "a60090e1-afa9-44c3-8f1c-9862116a20ae",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "BUTPWlj32MQVUpgx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Knowledge Base": {
      "main": [
        [
          {
            "node": "File Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Store": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cc9aa39b-b4f1-4fba-a9ea-f952455d60a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "129bf563b847be340b11a6c5dd237fc04a7cd8fe13440c3275102ff7281edf52"
  },
  "id": "Iw68mmtaQxoE1pQOIuaBC",
  "tags": []
}